.candidates-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__candidates_image {
  max-width: 270px;
  max-height: 270px;
  margin-right: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 1000px) {
  .header__candidates_image {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
  }
}
