.clubs {
  display: flex;
  justify-content: center;
  padding: 20px;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    184.31deg,
    #91c3ff 0%,
    #bbdaff 40.1%,
    rgba(251, 241, 255, 0.46) 100%
  );
}
.clubs__text {
  color: white;
  font-size: 45px;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .clubs {
    text-align: center;
  }
}
